html {
    font-size: 16px;
}

body {
    font-family: "Akaya Kanadaka" ,sans-serif;
}
#navbar {
    background-color: #3f2727f1;
    padding: 10px 20px 10px 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    height: 60px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
   
    
}
#navbar p {
    color: #e8f1f1;
    margin: 0 6px;
    text-align: center;
    float: left;
    font-size: 1.5rem;
    padding-top: 20px;
}
#menu a {
    text-decoration: none;
    color: #e8f1f1;
    margin: 0 6px;
    text-align: center;
    float: right;
    font-size: 1.5rem;
    padding: 20px 5px 20px 0;
    
}
#menu a:hover {
    text-shadow: 2px 2px 4px rgb(204, 253, 223);
}


header {
    
    color: #3f2727;
    padding: 2px;
    text-align: center;
    
    
}

header q {
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgb(238, 176, 176);
    font-weight: 900;
}

.container {
   
    margin: 20px auto;
    max-width: 900px;
    padding: 20px;
    
}

#about {
    background-color: #f2ebe9;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   
}
#about:hover {
    background-color: #eddcd9;
}
#about img {
    border-radius: 50%;
    width: 20%;
    float: left;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
h2 {
    text-align: right;
    font-size: 2.5rem;
    background-color: #264143;
    color: #e8f1f1;
    border-radius: 20px;
    padding: 10px 40px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#about p {
    font-size: 1.5rem;
   
}

#skills {
    background-color: #f2ebe9;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#skills:hover {
    background-color: #eddcd9;
}
.cont {
    width: 100%;
    color: white;
    background-color: grey;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.html {
    width: 70%;
    text-align: right;
    background-color: #3f2727;
    padding: 5px 20px 5px 0;
}
.css {
    width: 60%;
    text-align: right;
    background-color: #3f2727;
    padding: 5px 20px 5px 0;
}
.js {
    width: 20%;
    text-align: right;
    background-color: #3f2727;
    padding: 5px 20px 5px 0;
}
.php {
    width: 25%;
    text-align: right;
    background-color: #3f2727;
    padding: 5px 20px 5px 0;
}
.c {
    width: 75%;
    text-align: right;
    background-color: #3f2727;
    padding: 5px 20px 5px 0;
}
.cpp {
    width: 55%;
    text-align: right;
    background-color: #3f2727;
    padding: 5px 20px 5px 0;
}
.python {
    width: 20%;
    text-align: right;
    background-color: #3f2727;
    padding: 5px 20px 5px 0;
}


footer {
    background-color: #264143;
    color: #f2f2f2;
}
h3 {
    text-align: right;
    font-size: 2.5rem;
    background-color: #e8f1f1;
    color: black;
    border-radius: 20px;
    padding: 10px 40px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
footer a img {
width: 90%;
display: inline-block;
}
footer ul {
    list-style: none;
    text-align: center;
}
footer li {
    display: inline-block;
    border-radius: 50%;
    width: 10%;
    background-color: #e8f1f1;
    padding: 0 5px;
    margin: 5px 20px;
    box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.2), 3px 6px 20px 0 rgba(0,0,0,0.19);
}
footer li:hover {
   background-color: #63746c;
}

@media screen and (max-width :495px) and (min-width :400px) {
html {
  font-size: 12px;
}
#navbar {
    padding: 10px 10px 10px 5px;
}

h2,h3 {
  font-size: 20px;
}
}
@media screen and (max-width :400px) {
    html {
        font-size: 12px;
      }
    #navbar p {
        font-size: 12px;
    }
    #menu a {
        font-size: 12px;
    }
    
      #navbar {
          padding: 10px 10px 10px 5px;
      }
      
      h2,h3 {
        font-size: 20px;
      }
}
